{% extends 'base.html.twig' %}

{% block title %}Accueil provisoire!{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Bonjour {{ app.user.pseudo }}</h1>
    {% else %}
        <h1>Aucun utilisateur connecté</h1>
    {% endif %}
{% endblock %}
