<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include '_navbar.html.twig' %}
        </header>
        <main>
            {% if app.request.attributes.get('route')!='app_login' %}
            <div class="d-flex justify-content-end mt-2 px-2">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour {{ app.user.pseudo }}</h5>
                        <p class="card-text mb-0">Date : {{ "now"|date("d/m/Y") }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
