<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include '_navbar.html.twig' %}
        </header>
        <main>
            {% for label,messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} mt-2 px-2 flash-message">{{ message }}</div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
