{% extends 'base.html.twig' %}

{% block title %}{{parent()}}| Administration{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="mb-3">Page d'administration</h3>
        <a href="{{ path('administration_campus') }}" class="btn btn-secondary">Gérer les campus</a>
        <a href="{{ path('administration_villes') }}" class="btn btn-secondary">Gérer les villes</a>
        <a href="{{ path('administration_listeUtilisateurs') }}" class="btn btn-secondary">Gérer les utilisateurs</a>
    </div>
{% endblock %}

